<div class="">   
<div class="container ">
     <h4> 
        Terms & Conditions
    </h4>
    <div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tellus lobortis, suscipit tellus ut, lacinia tortor. Proin vestibulum tortor nec eleifend condimentum. Aliquam tristique id magna sit amet fringilla. Morbi nec accumsan ex. Nullam rhoncus cursus tincidunt. Quisque rutrum neque nec tempor ultricies. Praesent sit amet mollis nulla. Pellentesque finibus eu magna in condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque tristique blandit odio, sit amet vulputate purus facilisis eget. Phasellus convallis semper suscipit. Aliquam sed fringilla orci. Vivamus eget orci enim. Nullam venenatis neque ut lectus eleifend cursus.

Donec ipsum dolor, faucibus vitae nulla sed, tempor porttitor nulla. Nulla laoreet vestibulum turpis vitae tincidunt. Morbi mattis ex eu dignissim fermentum. Nulla facilisi. Nunc id placerat arcu. Cras aliquam, dui at maximus consequat, quam nibh rhoncus odio, at iaculis nulla nulla vel quam. Fusce vitae euismod nunc, et ultricies dui. Cras convallis elementum aliquam.
    </div>

</div>
   
</div>