<div>

    <div class="container reldiv">
      <i class="fa fa-times-circle-o pin-close" ui-sref="orderconfirmation({orderId: orderdata})"></i>
        <div class="position-center">
            <h2 class="pin-head">Sorry!</h2>
            <!--<div class="img-div">
                <img class="img-width" src="img/sadface.png" alt="">
            </div>-->
            <div class="orderplaced">We dont deliver to your pin-code.</div>
            <span class="pin-msg">You'll be one of the first to know when we start.</span>

        </div>

    </div>

</div>
