<div class="bgcolor">
    <div class="container">
    <div>
        <div class="subplan">
            <label for="">Subscription Plan</label>
            <div class="crossimgdiv">
                    <!--<i class="button button-icon icon ion-ios-close-outline chkout-closebutton" ng-click="closePopup();"></i>-->
                    <img class="img-responsive crossimgsize"src="img/cross.png" alt="">
                </div>
        </div>
        <div class="row rowbgcolor">

            <div class="col-xs-4 ">
                <div class="mt10"> 
                <div class="aquaimgdiv">
                    <img class="browse-sliderImg " src="img/aquashadow.png" alt="">
                    <!--<div class="chkout-line">
                        </div>-->
                </div>
                 </div>
            </div>
            <div class="col-xs-2  bordiv">
                <div class="bordiv">
                </div>
            </div>

            <div class=" reviewcol6">
                <h2 class="aquamar">Aquafina</h2>
                <div for="" class="purecol">Purified water <img class="img-responsive infoimg" src="img/ic_info_black_24dp copy 3.png" alt=""></div>
               
                <div for="" class="desc">20 Ltr - Jar</div>
                <div for="" class="desc">₹ 80</div>

            </div>
        </div>
    </div>
    <div class="row rowbgcoupon">
        <div class="col-xs-6 ">

            <label class="colmd5copon" for="">Enter coupon code</label>
        </div>
        <div class="col-xs-6 colipwid">
            <div class="">
<input class="couponlineheight" type="text" placeholder="Type coupon code here">
            </div>
            
        </div>
    </div>
    
    <div class="row rowbgcolor ">
        <div class="col-xs-8 bgchkoutcol50Quant">
            <div>
                <label  class="bottlemain" for="">One Time Bottle Deposit

                </label>
                <br>
                <label class="qntlbl"> 10 Jars x ₹ 150 /Jar </label>
            </div>
        </div>
        <div class="col-xs-4 bgchkoutcol502">
            <div>
                <label class="rs"for="">₹  1500</label>
            </div>
        </div>
    </div>
    <div class="row rowbgcolor ">
        <div class="col-xs-8 bgchkoutcol50Quant">
            <div>
                <label class="bottlemain" for="">Jar Plan

                </label>
                <br>
                <span class="qntlbl"> 40 Jars x ₹ 88 /Jar </span>
            </div>
        </div>
        <div class="col-xs-4 bgchkoutcol502">
            <div>
                <label class="rs" for="">₹  3420</label>
            </div>
        </div>
    </div>
    <div class="row rowbgcolor">
        <div class="col-xs-8 savingscol501 ">
            <div>
                <label class="saving" for="">Your Total savings

                </label>
            </div>
        </div>
        <div class="col-xs-4 savingamtdiv">
            <div>
                <label class="savingrs" for="">₹  80</label>
                <span>(2%)</span>
            </div>
        </div>
    </div>
    <div class="row rowbgcalendar">
        <div class="col-xs-2">
            <div class="datemonth text-center">
                <div class="datediv pad-10 date">
                    10
                </div>
                <div class="monthdiv date">FEB</div>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="caldiv"></div>
        </div>
        <div class="col-xs-8">
            <div class="rel">
                <div class="mid-day text-center ">
                    <h4 class="mar10">
                        Delivering on friday
                    </h4 >
                    <div> 
                        <label class="text-center rel" ng-click="openDatePicker()">
                        Click here to change!
                        
                    </label>
                    <input type="date">
                         </div>
                    
                    
                    
                    <!-- <input type="date" class="hidedate"> -->
                </div>
                <div class="custarr">
                    <i class="ion ion-chevron-right item-note "></i>
                </div>
            </div>
            
        </div>
       
    </div>
     <div class="squaredThree">
      <input type="checkbox" value="None" id="squaredThree" name="check" checked />
      <label class="squaredThreelabel"for="squaredThree"></label>
    </div>
    <label for="" class="billLbl">I have read & accept the</label>
    <span class="termscolor" ng-click="terms()">terms & conditions</span>
    <button class="button " ui-sref="review">Pay ₹ 88</button>
     
</div>

</div>