<div class="bgcolor">
    <div class="container bgcolor">
        <div>
            <div class="centeralign">
                <div class="mainimgdiv">
                    <img src="img/mainscreenlogo.png" alt="">
                </div>
                <div class="header-label">
                    <label for="">Review & Checkout</label>
                </div>
            </div>

            <div class="subplan" ng-if= "orderData.product[0].product.category.subscription == 'Yes'">
                <label for="">Subscription Plan</label>
            </div>
            <div class="row rowbgcolor ma0" ng-if= "orderData.product[0].product.category.subscription == 'Yes'">

                <div class="col-xs-4 ">
                    <div class="mt10">
                        <div class="aquaimgdiv">
                            <img class="browse-sliderImg " ng-src="{{orderData.product[0].product.smallImage | uploadpath}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-2  bordiv">
                    <div class="bordiv">
                    </div>
                </div>

                <div class="reviewcol6 ma0">
                    <h4 class="aquamar">{{orderData.product[0].product.name}}</h4>
                    <div for="" class="purecol">{{orderData.product[0].product.tag}}<img class="img-responsive infoimg" src="img/ic_info_black_24dp copy 3.png"
                            alt=""></div>

                    <div for="" class="desc">{{orderData.product[0].product.category.name}}</div>
                    <div for="" class="desc">₹ {{orderData.product[0].finalPrice}}</div>

                </div>
            </div>
            <div class="row rowbgcolor" ng-if= "orderData.product[0].product.category.subscription == 'No'" ng-repeat="pr in orderData.product">

                <div class="col-xs-4 ">
                    <div class="mt10">
                        <div class="aquaimgdiv">
                            <img class="browse-sliderImg " ng-src="{{pr.product.smallImage | uploadpath}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-2  bordiv">
                    <div class="bordiv">
                    </div>
                </div>

                <div class="reviewcol6">
                    <h4 class="aquamar">{{pr.product.name}}</h4>
                    <div for="" class="purecol">{{pr.product.tag}}<img class="img-responsive infoimg" src="img/ic_info_black_24dp copy 3.png"
                            alt=""></div>

                    <div for="" class="desc">{{pr.product.category.name}}</div>
                    <div for="" class="desc">₹ {{pr.finalPrice}}</div>

                </div>
            </div>
        </div>

        <div class="row rowbgcolor" ng-if="orderData.product[0].jarDeposit">
            <div class="col-xs-8 bgchkoutcol50Quant">
                <div>
                    <label class="bottlemain" for="">One Time Bottle Deposit

                </label>
                    <br>
                    <label class="qntlbl"> {{orderData.product[0].productQuantity}} Jars x ₹ {{orderData.product[0].jarDeposit}} /Jar </label>
                </div>
            </div>
            <div class="col-xs-4 bgchkoutcol502">
                <div>
                    <label class="rs" for="">₹  {{orderData.product[0].productQuantity * orderData.product[0].jarDeposit}}</label>
                </div>
            </div>
        </div>
        <div class="row rowbgcolor  " ng-repeat="product in orderData.product" ng-if="orderData.product[0].product.category.subscription == 'Yes'">
            <div class="col-xs-8 bgchkoutcol50Quant">
                <div>
                    <label class="bottlemain" for="">{{product.product.name}}</label>
                    <br>
                    <span class="qntlbl"> {{product.productQuantity}} Jars x ₹ {{product.product.price}} /Jar </span>

                </div>
            </div>
            <div class="col-xs-4 bgchkoutcol502">
                <div>
                    <label class="rs" for="">₹  {{product.productQuantity * product.product.price}}</label>
                </div>
            </div>
        </div>

        <div class="row rowbgcolor">
            <div class="col-xs-8 savingscol501 ">
                <div>
                    <label class="saving" for="">Total

                </label>
                </div>
            </div>
            <div class="col-xs-4 savingamtdiv">
                <div>
                    <label class="savingrs" for="">₹  {{amountToBePaid}}</label>
                    <!--<span>({{percent | number :2 }}%)</span>-->
                </div>
            </div>
        </div>
        <div class="row rowbgcalendar">
            <div class="col-xs-2">
                <div class="datemonth text-center">
                    <div class="datediv pad-10 date">
                        {{dt|date:'dd'}}
                    </div>
                    <div class="monthdiv date">{{dt|date:'MMM'}}</div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="caldiv"></div>
            </div>
            <div class="col-xs-8">
                <div class="rel">
                    <div class="mid-day text-center ">
                        <h4 class="mar10">
                            Delivering on {{dt|date:'EEEE'}}
                        </h4>
                        <div>
                            <input type="text" class="form-control display-none" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" />
                            <span class="input-group-btn t">
                            <button type="button" class="btn btn-default  cal-on-click" ng-click="open2()">Click here to change!  </button>
                        </div>
                        <!-- <input type="date" class="hidedate"> -->
                    </div>
                    <i class="fa fa-chevron-right arrow" aria-hidden="true"></i>
                    <div class="custarr">

                    </div>
                </div>

            </div>

        </div>
        <div class="custom-checkbox">
            <input type="checkbox" id="checkme">
            <label for="checkme">I have read & accept the</label>
            <span class="termscolor checkme" ng-click="terms()">terms & conditions</span>
                        </div>

                        <button ng-if="orderData.methodOfPayment!='Customer'" class="button" ng-click="orderConfirmation(orderData)">Confirm Order</button>


                        <button ng-if="orderData.methodOfPayment=='Customer'" class="button" ng-click="pay()">Pay ₹ {{amountToBePaid}} /-</button>


                    </div>

                </div>
