<div class="bgcolor" ng-show="orderData">

    <!--<pre>{{orderData|json}}</pre>-->
    <div class="container bgcolor">
        <div>
            <div class="centeralign">
                <div class="mainimgdiv">
                    <img src="img/mainscreenlogo.png" alt="">
                </div>
                <div class="header-label">
                    <label for="">Review & Checkout</label>
                </div>
            </div>

            <div class="subplan" ng-if="orderData.type == 'Subscription'">
                <label for="">Subscription Plan</label>
            </div>
            <div class="row rowbgcolor" ng-repeat="pr in orderData.product">

                <div class="col-xs-6 ">
                    <div class="mt10">
                        <div class="aquaimgdiv">
                            <img class="browse-sliderImg " ng-src="{{pr.product.smallImage | uploadpath}}" alt="">
                        </div>
                    </div>
                </div>

                <div class=" col-xs-6 reviewcol6">
                    <h4 class="aquamar">{{pr.product.name}}</h4>
                    <div for="" class="desc">Quantity: <b>{{pr.productQuantity}}</b></div>
                    <div for="" class="desc">Price: ₹ <b>{{pr.finalPrice}}</b></div>
                    <div for="" class="desc">Total: ₹ <b>{{pr.finalPrice*pr.productQuantity}}</b></div>
                </div>
            </div>
        </div>


        <div class="row rowbgcolor" ng-if="orderData.type != 'Subscription'">
            <div class="col-xs-2">
                <div class="datemonth text-center">
                    <div class="datediv pad-10 date">
                        {{dt|date:'dd'}}
                    </div>
                    <div class="monthdiv date">{{dt|date:'MMM'}}</div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="caldiv"></div>
            </div>
            <div class="col-xs-8">
                <div class="rel">
                    <div class="mid-day text-center ">
                        <h4 class="mar10">
                            Delivering on {{dt|date:'EEEE'}}
                        </h4>
                        <div>
                            <input type="text" class="form-control display-none" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" />
                            <span class="input-group-btn t">
                            <button type="button" class="btn btn-default  cal-on-click" ng-click="open2()">Click here to change!  </button>
                        </div>
                        <!-- <input type="date" class="hidedate"> -->
                    </div>
                    <i class="fa fa-chevron-right arrow" aria-hidden="true"></i>
                    <div class="custarr">

                    </div>
                </div>

            </div>

        </div>
        <div class="custom-checkbox">
            <input type="checkbox" id="checkme" ng-model="orderData.terms">
            <label for="checkme">I have read & accept the</label>
            <span class="termscolor checkme" ng-click="terms()">Terms & Conditions</span>
                        </div>
<div>
    <!--<pre>{{template|json}}</pre>-->
      <button ng-hide="template.isRP" ng-if="orderData.methodOfPayment!='Customer'" ng-disabled="!orderData.terms" class="button" ng-click="orderConfirmation(orderData)">Confirm Order</button>


                        <button ng-if="orderData.methodOfPayment=='Customer' || template.isRP" ng-disabled="!orderData.terms" class="button" ng-click="pay()">Pay ₹ {{orderData.totalPrice}} /-</button>
</div>
                      


                    </div>

                </div>
                <div ng-hide="orderData" style="text-align:center;padding:20%;">
                    <h3> Loading ... </h3>
                </div>