<div class="">
  <div class="centeralign">
    <div class="topimgdiv">
      <img src="img/mainscreenlogo.png" alt="">
    </div>
    <div class="header-label">
      <label for="">Enter Shipping Details</label>
    </div>
  </div>

  <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="Name"  ng-model="orderData.customer.name" name="name" required disabled>
    <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" only-digits ng-model="orderData.customer.mobile" placeholder="Mobile Number" disabled>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddress.email" placeholder="Email ID" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.customer.establishmentName" placeholder="Company Name (Optional)" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddress.address" placeholder="Shipping Address" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="" diasbled>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="number" ng-model="orderData.shippingAddress.pincode" placeholder="Pincode" >
  </label>



  <!--<div class="squaredThree checkbox">
      <input type="checkbox" value="None" id="squaredThree" name="check" />
      <label class="squaredThreelabel" for="squaredThree"></label>       
    </div>-->

  <div class="custom-checkbox">
    <input type="checkbox" id="checkme" ng-model="showaddr">
    <label for="checkme">My billing address is same as my shipping address</label>
  </div>


<div ng-if="!showaddr"> 

  <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="Name"  ng-model="orderData.customer.name" name="name" required disabled>
    <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" only-digits ng-model="orderData.customer.mobile" placeholder="Mobile Number" disabled>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.billingAddress.email" placeholder="Email ID" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="number" ng-model="orderData.billingAddress.companyName"  placeholder="Company Name (Optional)" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.billingAddress.address" placeholder="Shipping Address" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="" diasbled>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="number" ng-model="orderData.billingAddress.pincode" placeholder="Pincode" >
  </label>
</div>
  
  <button class="button" ng-click="addShipBilDetails(orderData)">Place Order</button>

</div>

<!--<div class="signupbtn">
      Get Started
    </div>-->