<div class="">

  <div class="centeralign">
    <div class="topimgdiv">
      <img src="img/mainscreenlogo.png" alt="">
    </div>
    <div class="header-label">
      <label for="">Your Order</label>
    </div>
  </div>

  <div class="row rowbgcolor " ng-repeat="product in orderData.product">
    <div class="col-xs-8 bgchkoutcol50Quant">
      <div>
        <label class="bottlemain" for="">{{product.product.name}}</label>
        <br>
        <span class="qntlbl"> {{product.productQuantity}} Jars x ₹ {{product.product.price}} /Jar </span>
      </div>
    </div>
    <div class="col-xs-4 bgchkoutcol502">
      <div>
        <label class="rs" for="">₹  {{product.productQuantity * product.product.price}}</label>
      </div>
    </div>
  </div>
  <div class="row rowbgcolor">
    <div class="col-xs-8 savingscol501 ">
      <div>
        <label class="saving" for="">Total</label>
      </div>
    </div>
    <div class="col-xs-4 savingamtdiv">
      <div>
        <label class="savingrs" for="">₹  {{amountToBePaid}}</label>
      </div>
    </div>
  </div>

  <div class="centeralign">
    <div class="topimgdiv">
      <img src="img/mainscreenlogo.png" alt="">
    </div>
    <div class="header-label">
      <label for="">Enter Shipping Details</label>
    </div>
  </div>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="Name"  ng-model="orderData.customer.name" name="name" required>
    <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" only-digits ng-model="orderData.customer.mobile" placeholder="Mobile Number" disabled>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddress.email" placeholder="Email ID" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.customer.establishmentName" placeholder="Company Name (Optional)" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddress.address" placeholder="Shipping Address" >
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="" diasbled>
  </label>
  <label class=" item-input inputField">
    <input class="inputsize" type="number" ng-model="orderData.shippingAddress.pincode" placeholder="Pincode" >
  </label>

  <div class="custom-checkbox">
    <input type="checkbox" id="checkme" ng-model="showaddr">
    <label for="checkme">My billing address is same as my shipping address</label>
  </div>


  <div ng-if="!showaddr">

    <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="Name"  ng-model="orderData.customer.name" name="name" required>
    <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" only-digits ng-model="orderData.customer.mobile" placeholder="Mobile Number" disabled>
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.billingAddress.email" placeholder="Email ID" >
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="number" ng-model="orderData.billingAddress.companyName"  placeholder="Company Name (Optional)" >
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.billingAddress.address" placeholder="Shipping Address" >
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="" diasbled>
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="number" ng-model="orderData.billingAddress.pincode" placeholder="Pincode" >
  </label>
  </div>
  <button class="button" ng-click="addShipBilDetails(orderData)">Place Order</button>
</div>