<!--<div ng-show="orderData" class="">-->

  <div class="centeralign">
    <div class="topimgdiv">
      <img src="img/mainscreenlogo.png" alt="">
    </div>
    <div class="header-label">
      <label for="">Your Order</label>
    </div>
  </div>
  <div class="row rowbgcolor " ng-repeat="product in orderData.product">
    <div class="col-xs-8 bgchkoutcol50Quant" ng-if="product.jarDeposit">
      <div>
        <label class="bottlemain" for="">One time deposit</label>
        <br>
        <span class="qntlbl"> {{product.productQuantity}}{{product.unit}}   x ₹ {{product.product.deposit}}  </span>
      </div>
    </div>
    <div class="col-xs-4 bgchkoutcol502" ng-if="product.jarDeposit">
      <div>
        <label class="rs" for="">₹  {{product.jarDeposit}}</label>
      </div>
    </div>
    <div class="col-xs-8 bgchkoutcol50Quant" >
      <div>
        <label class="bottlemain" for="">{{product.product.name}}</label>
        <br>
        <span class="qntlbl"> {{product.productQuantity}} {{product.unit}} x ₹ {{product.finalPrice}} /{{product.unit}} </span>
      </div>
    </div>
    <div class="col-xs-4 bgchkoutcol502">
      <div>
        <label class="rs" for="">₹  {{product.productQuantity * product.finalPrice}}</label>
      </div>
    </div>

  </div>
  <div class="row rowbgcolor">
    <div class="col-xs-8 savingscol501 ">
      <div>
        <label class="saving" for="">Total</label>
      </div>
    </div>
    <div class="col-xs-4 savingamtdiv">
      <div>
        <label class="savingrs" for="">₹  {{orderData.totalPrice}}</label>
      </div>
    </div>
  </div>
  <form name="userForm">
    <div class="centeralign">
      <div class="topimgdiv">
        <img src="img/mainscreenlogo.png" alt="">
      </div>
      <div class="header-label">
        <label for="">Enter Shipping Details</label>
      </div>
    </div>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="Name"  ng-model="orderData.shippingAddressName" name="name" required>
    <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddressMobile" placeholder="Mobile Number" disabled>
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="email" ng-model="orderData.shippingAddressEmail" placeholder="Email ID" required name="email" disabled="orderData.shippingAddressEmail">
        <p class="error-msg"  ng-show="userForm.email.$error.required && userForm.email.$touched">Please Enter Your Email.</p>
  </label>
    <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddress.companyName" placeholder="Company Name (Optional)" >

  </label>
    <label class=" item-input inputField">
    <textarea class="inputsize" type="text" ng-model="orderData.shippingAddress.address" placeholder="Shipping Address" required name="shippingAddress"></textarea>
    <p class="error-msg"  ng-show="userForm.shippingAddress.$error.required && userForm.shippingAddress.$touched">Please Enter Shipping Address.</p>
  </label>
    <!--<label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.shippingAddress.address2" placeholder="..." >
  </label>-->
    <label class=" item-input inputField">
    <input class="inputsize" ng-min="100000" ng-max="999999"  type="number"   ng-model="orderData.shippingAddress.pincode" placeholder="Pincode" required name="pincode" limit-to="6">
     <p class="error-msg"  ng-show="userForm.pincode.$error.required && userForm.pincode.$touched">Please Enter Pincode.</p>
  </label>

    <div class="custom-checkbox">
      <input type="checkbox" id="checkme" ng-model="showaddr" ng-click="addSameBillingDetails(showaddr)">
      <label for="checkme">My billing address is same as my shipping address</label>
    </div>


    <div ng-if="!showaddr">
      <div class="centeralign">
        <div class="topimgdiv">
          <img src="img/mainscreenlogo.png" alt="">
        </div>
        <div class="header-label">
          <label for="">Enter Billing Details</label>
        </div>
      </div>
      <label class=" item-input inputField">
    <input class="inputsize" type="text" placeholder="Name"  ng-model="orderData.billingAddressName"  >
    <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
  </label>
      <label class=" item-input inputField">
    <input class="inputsize" type="text"  ng-model="orderData.billingAddressMobile" placeholder="Mobile Number" disabled>
  </label>

      <label class=" item-input inputField">
    <input class="inputsize" type="text" ng-model="orderData.billingAddress.companyName"  placeholder="Company Name (Optional)" >
  </label>
      <label class=" item-input inputField">
    <textarea class="inputsize" type="text" ng-model="orderData.billingAddress.address" placeholder="Billing Address" name="billingAddress"> <p class="error-msg"  ng-show="userForm.billingAddress.$error.required && userForm.billingAddress.$touched">Please Enter Billing Address.</p></textarea>
  </label>
      <!--<label class=" item-input inputField">
    <input class="inputsize" type="text"  ng-model="orderData.billingAddress.address2"  placeholder="..." >
  </label>-->
      <label class=" item-input inputField">
    <input class="inputsize" type="number" only-digits ng-model="orderData.billingAddress.pincode" placeholder="Pincode" name="pincodeBil" required limit-to="6">
     <p class="error-msg" ng-min="100000" ng-max="999999" ng-show="userForm.pincodeBil.$error.required && userForm.pincodeBil.$touched">Please Enter Pincode.</p>
  </label>

    </div>
    <button class="button" ng-disabled="userForm.$invalid" ng-click="addShipBilDetails(orderData)">Place Order</button>
  </form>
<!--</div>-->
<!--<div ng-hide="orderData" style="text-align:center;padding:20%;">
  <h3> Loading ... </h3>
</div>-->
