<div>
    <div class="container reldiv">
        <div class="position-center">
            <h2 class="thankyou">Sorry!</h2>
            <div class="img-div">
                <img class="img-width" src="img/sorry.png" alt="">
            </div>
            <div class="orderplaced">Your order could not be placed</div>
            <p class="sorrymsg"> You can close this webpage, and click on the link again. If that doesn’t work, please contact us on <span class="sorryno">022-33024910</span>to
                place your order.</p>
                
        </div>
    </div>
</div>