<div>
    <div class="container reldiv">
        <div class="position-center">
<div class="thankyou">Payment Successful!</div>
<div class="img-div">
    <img class="img-width" src="img/tick.png" alt="">
</div>
 <div class="orderplaced">Order ***** is confirmed.</div>
 <p class="sorrymsg"> Your delivery is scheduled for <br> [Enter Delivery Date In the Format "Tuesday,May 30"]</p>
 <!--<div class="orderplaced">Order ***** is confirmed</div>
 <p class="sorrymsg"> Download the HaTa App or call on <span> 022-33024910  </span> to schedule your first delivery.</p>-->
        </div>

    </div>

</div>